body {
	padding: 0;
	margin: 0;
	font-family: arial, helvetica, sans-serif;
	background-color: black;
}

svg {
	padding: 0;
	margin: 0;
}

div#graph {
	position: absolute;
	top: 0;
	left: 0;
}

h1#headline {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 2.5em;
	color: white;
	margin: 0;
}

ul#menu {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
	font-size: 0.8em;
	text-align: right;
	list-style-type: none;
	margin: 0;
}

ul#menu li {
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.node {
  fill: #CC0000;
  cursor: crosshair;
}

.node_selected {
  fill: #3333CC;
  stroke: #3333CC;
}

.drag_line {
  stroke: #CCC;
  stroke-width: 3;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #CCC;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #CCC;
  stroke-width: 3;
  cursor: crosshair;
}

.link_selected {
  stroke: #3333CC;
}